/* You can add global styles to this file, and also import other style files */
input.ng-invalid{
  background-color: red;
}

input.ng-pristine{
  font-weight: 800;
}

form.ng-invalid{
  background-color: purple;
}
